.main-container {
    margin: 15px 0 0 0 !important;
    padding: 15px;
    min-height: 100px;
    background: rgba(31, 33, 40, 0.9);
    background: linear-gradient(120deg, rgba(31, 33, 40, 0.9) -0.88%, rgba(39, 43, 48, 0.9) 100%);
    border-radius: 30px;
}