.expandedHeader td {
    background-color: #0077ff !important;
    color: #ffffff !important;
    font-weight: 500;
}

.expandedHeader tr {
    border: 3px solid;
}

.beauty {
    text-decoration: none !important;
    border: none;
}

.dataMiss {
    color: #d4241e;
}

.dataPresent {
    color: #17b021;
}

.clickable {
    cursor: pointer;
}

.far {
    margin-left: 15px;
}

.note {
    padding: 10px;
    margin-top: 5px;
}

.right {
    float: right;
}

.centered {
    margin-left: 20px;
    margin-top: 15px;
}