body {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.card-bg {
    border-radius: .75rem;
    background-color: #eff1f2;
}

.root-bg {
    min-height: 250px;
}