
.notesMiss {
    color: #d4241e;
}

.notesPresent {
    color: #17b021;
}

.iconMiss {
    color: #7c8088;
}

.iconPresent {
    cursor: pointer;
}

.far {
    margin-left: 15px;
}

.note {
    padding: 10px;
    margin-top: 5px;
}

.right {
    float: right;
}

.centered {
    margin-left: 20px;
    margin-top: 15px;
}